* {
  box-sizing: border-box;
  /* border: red thin solid; */
}

body {
    background-color: white;
}


#header {
  padding: 2em;
  background-color: #42cdc6;
  color: black;
}

#logo-main {
  font-size: 2.5em;
}

#logo-title, #logo-main span{
  color: white;
}

#logo-main { display: inline-block; white-space: nowrap; }
#logo-description { font-size: 0.75em; display: inline-block; white-space: nowrap; }

#menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #2e2e2e;
}

#menu > ul > li{
  display: inline-block;
  padding: 0.2em;
}

.menutext {
  color: white;
}

#search-bar input {
    border-radius: 0.5em;
}

#sidebar {
  background-color: #f8f8f8;
  padding: 1em;
}

.sidebar-title {
  font-size: 0.6em;
  font-weight: bolder;
}

#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-image img {
  width: 100%;
  max-width: 100%;
}

#banner img {
  width: 90%;
  max-width: 100%;
  margin: 1em;
  align-items: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #32373a;
}


#footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column {
  color: white;
  list-style-type: none;
}

.footer-title {
  color: white;
}

@media (max-width: 600px) {
  body {
    background-color: black;
  }

  #main { grid-template-columns: 1fr;}
  #footer { grid-template-columns: 1fr;}
  #content { grid-template-columns: 1fr;}

  #menu {
    grid-template-columns: 1fr;
    display: inline-block;
  }
}
